.container {
  width: 900px;
}

body {
  background: #77bcd6;
}

header {
  padding-top: 30px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  height: 300px;
  margin-top: 30px;
  font-size: 110%;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 4px 0px #555;
}

section h1 {
  font-size: 150%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  position: relative;
  box-shadow: 4px 4px 0px #555;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  font-size: 150%;
}

nav ul {
  margin: 30px;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
  border-radius:         7px;
  box-shadow: 4px 4px 0px #555;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 30px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
  box-shadow: 4px 4px 0px #555;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/*ERREURS DE FORMULAIER*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Simple_form */

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}