<!DOCTYPE html>
<html>
	<head>
	<body>
		<h1>Weigh my city  | <%= @title -%> </h1>
		<p></br>
			About us.
		</p>
		<div id="lol">
		           <p>Copyright "Tout pourri Corporation" 2005, tous droits réservés</p>
		</div>
	</body>
	</head>
</html>