<!DOCTYPE html>
<html>
	<head>
	<body>
		<h1>Weigh my city | <%= @title -%></h1>
		<p></br>
			Calculate the weight of your city.
		</p>
			<h3><%= link_to "Calcul", calcul_path -%></h3>
	</body>
	</head>
</html>
