<!DOCTYPE html>
<html>
	<head>
	<body>
		<h1>Poids de ma ville | <%= @title -%></h1>
		<p></br>
			Calculer le poids total des habitants de votre ville.</p>
			<p>
				Je vis :
			</p>
			<p>
				et j'ai :
			</p>
			<p>
				Aussi, je mesure :
			</p>
			<p>
				Le sport : [ Jamais / Rarement / De temps en temps / Régulièrement (plus d'une fois par semaine) / Quotidiennement / Athlète ]
			</p>
			<h3><%= link_to "Calcul", calcul_path -%></h3>
	</body>
	</head>
</html>
