<tr>
  <td class="info">
    <span class="content"><%= info.taille %> cm pour l'utilisateur <%=info.id%>'</span>
    <span class="timestamp">
      created <%= time_ago_in_words(info.created_at) %> ago.
    </span>
  </td>
</tr>