<header>
<% citiz = image_tag("citiz.png", :alt => "stat_app", :class => "round") -%>
<%= link_to citiz, root_path -%>
<nav class="round">
      <ul>
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Contactez-nous", contact_path %></li>
      </ul>
</nav>
</header>